<%- include('header.ejs') %>
<style>
    .mainContainer {
        display: flex;
        justify-content: center;
    }

    .formOutContainer {
        background-color: #CCD8DC;
        width: 80%;
        display: inline-block;
        margin-bottom: 50px;
    }

    .formInContainer {
        width: 90%;
        margin-top: 25px;
        margin-bottom: 15px;

    }

    label {
        color: #194F62 !important;
        font-weight: bold;
    }

    .detailText {
        margin-left: 20px;
        color: #F14B28;
        font-weight: bold;
        font-size: 20px;
    }

    .imageContainer {
        float: left;
    }

    .postDetailsContainer {
        float: left;
        margin-left: 25px;
    }

    .descriptionText {
        width: 500px;
    }

    .outerDetailContainer {
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .buttonContainer {
        text-align: center;
        margin-top: 25px;
    }

    .btn-primary {
        color: #fff !important;
        background-color: #f14b28 !important;
        border: none !important;

    }
</style>

<body>
    <div class="mainContainer">
        <div class="formOutContainer">
            <div class="formInContainer">
                <div class="outerDetailContainer">
                    <div class="imageContainer">
                        <img src="/img/logo.png" style="width: 250px; height: 250px;">
                    </div>
                    <div class="postDetailsContainer">
                        <label>
                            <h4>Detailed Post</h4>
                        </label>
                        <div>
                            <label>Post Title:</label> <span class="detailText"> <%= Data.title %></span>
                        </div>
                        <label>Dimentions of Land:</label><span class="detailText"> <%= Data.dimension%></span></br>
                        <label>Soil Type:</label><span class="detailText"><%= Data.soil%></span></br>
                        <label>Location:</label><span class="detailText"><%= Data.location%></span></br>
                        <label>Price:</label><span class="detailText"><%= Data.rent %> </span></br>
                        <label>Description:</label><span class="detailText descriptionText"> <%= Data.description %>
                        </span></br>
                    </div>
                </div>
                <div class="buttonContainer">
                    <a class="btn btn-large btn-primary" href="/directChat">Direct Chat</a>
                    <a class="btn btn-large btn-primary" href="/payment">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('footer.ejs') %>