<%- include('header.ejs') %>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paypal Payment</title>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&display=swap");

    *>* {
      margin: 0%;
      padding: 0%;
    }

    .container {
      width: 1000px;
      margin: auto;
    }

    @media screen and (max-width: 768px) {
      .container {
        width: 100%;
      }
    }

    .mainContainer {
      display: flex;
      justify-content: center;
    }

    .formOutContainer {
      background-color: #ccd8dc;
      width: 80%;
      padding-left: 30px;
      display: inline-block;
    }

    .formInContainer {
      width: 90%;
      display: inline-block;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    label {
      color: #194f62 !important;
      font-weight: bold;
    }

    .btn-primary {
      color: #fff !important;
      background-color: #f14b28 !important;
      border: none !important;
    }

    .text-center {
      text-align: center;
    }

    .text-white {
      color: white;
    }

    .text-gray {
      color: #e9ecef;
    }

    .font-title {
      font-family: "Lato", sans-serif;
    }

    /*          Cart.html           */
    main#cart-main .site-title h1 {
      margin: 2em 0em;
    }

    main#cart-main .container>.grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      margin: 0 2rem;
    }

    main#cart-main .container>.grid>.col-1>.item {
      border-top: 1px solid #e9ecef;
      border-bottom: 1px solid #e9ecef;
      padding: 1.5em 3em;
    }

    main#cart-main .container>.grid>.col-1>.item .img img {
      width: 60%;
    }

    main#cart-main .container>.grid>.col-1>.item .buttons {
      margin-top: 1em;
    }

    main#cart-main .container>.grid>.col-1>.item .buttons input {
      padding: 0.3rem 0.2rem;
      border: 1px solid #e9ecef;
      width: 20%;
      text-align: center;
    }

    main#cart-main .container>.grid>.col-1>.item .buttons input:focus {
      outline: none;
    }

    main#cart-main .container>.grid>.col-1>.item .buttons button {
      background-color: transparent;
      border: 1px solid #e9ecef;
      padding: 0.3em 0.3em;
      margin-bottom: 0.8rem;
    }

    main#cart-main .container>.grid>.col-1>.item {
      width: 350px !important;
    }

    main#cart-main .container>.grid>.col-1>.item a {
      text-decoration: none;
      color: #fca311;
    }

    main#cart-main .container>.grid>.col-1>.item .price {
      color: #ef476f;
    }

    main#cart-main .container>.grid>.col-2 .subtotal {
      border: 1px solid #e9ecef;
      padding: 1em 2.4em;
      margin: 0 2rem;
      width: 350px !important;
    }

    main#cart-main .container>.grid>.col-2 .subtotal>h3 {
      margin-bottom: 1rem;
    }

    main#cart-main .container>.grid>.col-2 .subtotal ul hr {
      border: 1px solid #e9ecef;
      margin: 0.3rem 0;
    }

    main#cart-main .container>.grid>.col-2 .subtotal ul li {
      padding: 0.2rem 0;
    }

    main#cart-main .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    main#cart-main .justify-content-between {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    main#cart-main .text-red {
      color: #ef476f;
    }

    /*# sourceMappingURL=style.css.map */
  </style>

</head>

<body>
  <div class="mainContainer">
    <div class="formOutContainer">
      <div class="formInContainer">
        <main id="cart-main">
          <div class="container">
            <div class="grid">
              <div class="col-1">
                <div class="flex item justify-content-between">
                  <div class="flex">
                    <div class="img text-center">
                      <img src="img/pro1.jpg" alt="" width="300px">
                    </div>
                    <div class="title">
                      <label><%= postData.title %></label>
                      <label><%= postType %></label>
                      <div class="buttons">
                        <button type="submit"><i class="fas fa-chevron-up"></i> </button>
                        <input type="text" class="font-title" value="1">
                        <button type="submit"><i class="fas fa-chevron-down"></i> </button>
                      </div>
                      <button type="submit" name="save" value="save" class="btn btn-primary">Save for later</button>
                      <button type="submit" name="save" value="save" class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                  <div class="price">
                    <h4 class="text-red"><%=postData.rent.$numberDecimal%></h4>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="subtotal text-center">
                  <label>Price Details</label>

                  <ul>
                    <li class="flex justify-content-between">
                      <label for="price">Products : 1</label>
                      <span></span>
                    </li>
                    <li class="flex justify-content-between">
                      <label for="price">Delivery Charges : </label>
                      <span>Free</span>
                    </li>
                    <hr>
                    <li class="flex justify-content-between">
                      <label for="price">Amout Payble : </label>
                      <span class="text-red font-title"><%=postData.rent.$numberDecimal%></span>
                    </li>
                  </ul>
                  <div id="paypal-payment-button">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <script
    src="https://www.paypal.com/sdk/js?client-id=ATqJoT8uledW83BN2RvdA4o9tptMnGw4EUVlV1na6YHhKgqXEHcJXE8t0EZLGsDr4mybfMJ5nXxL10vQ&disable-funding=credit,card"></script>
  <script src="index.js"></script>
  <script>paypal.Buttons({
      style: {
        color: 'blue',
        shape: 'pill'
      },
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '1.0'
            }
          }]
        });
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          console.log(details)
          window.location.href = "/success";
        })
      },
      onCancel: function (data) {
        window.location.href = "/cancel"
      }
    }).render('#paypal-payment-button');</script>
</body>
</body>

</html>
<%- include('footer.ejs') %>